<div class="d-flex justify-content-center" style="max-width:800px">
    <div class="d-flex justify-content-around">
        <div class="container">
            <div class="img-cont">
                <img class="icon-img" src="~/images/icons/book-icon.png" />
            </div>
            <h6>Magias ancestrais!</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam necessitatibus excepturi quaerat illo natus eligendi.</p>
        </div>
        <div class="container">
            <div class="img-cont">
                <img class="icon-img" src="~/images/icons/book-icon.png" />
            </div>
            <h6>Magias ancestrais!</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam necessitatibus excepturi quaerat illo natus eligendi.</p>
        </div>
        <div class="container">
            <div class="img-cont">
                <img class="icon-img" src="~/images/icons/book-icon.png" />
            </div>
            <h6>Magias ancestrais!</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam necessitatibus excepturi quaerat illo natus eligendi.</p>
        </div>
        <div class="container">
            <div class="img-cont">
                <img class="icon-img" src="~/images/icons/book-icon.png" />
            </div>
            <h6>Magias ancestrais!</h6>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quam necessitatibus excepturi quaerat illo natus eligendi.</p>
        </div>
    </div>
    
</div>

<style>
    .img-cont{
        color:white;
        background-color: #414141;
        width: 60px;
        border-radius: 5px;
        display: flex;
        justify-content:center;
    }
    .icon-img{
        width: 50px;"
    }
    .container{
        margin:10px;
    }
</style>
