@{
    ViewData["Title"] = "Home Page";
}

<div class="backimg " style="margin: 0px 0px 50px 0px; display:flex; justify-content:center;">
    <div class="justify-content-center">
        <div class="d-flex align-items-center ">
            <div>
                <h1>Aventure-se com equipamentos incriveis!</h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem mollitia distinctio eaque dolor, dolores commodi voluptatem fugit velit tenetur temporibus! Amet dignissimos quasi qui dolore hic doloremque quos nisi adipisci.
                </p>
               <a asp-controller="Produto" asp-action="List"> <button type="button" class="btn btn-warning" style="color:white">Shop Now!</button> </a>
            </div>

            <img src="~/images/produtos/flower_sword.png" style="width: 400px" />
        </div>
    </div> 
</div>
<div>
    <partial name="_CategoriasHome" />

    <partial name="_ProdutosEmDestaque" />
</div>



<style>
    .backimg{
        
        max-width: 1080px;
        background-size: cover;
        color: #dbdbdb;
    };
    
</style>